# Environments
.env
*.env
venv/
.venv/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/
.trae/
.npm/
.vercel-global/
Library/
desktop/node_modules/
desktop/src-tauri/target/
desktop/target/
desktop/src-tauri/icons/

# System
.DS_Store

# Application Data
data/
cookies.txt
ARK_API_KEY.env
app.db
.vercel
